
/* Some CSS Setup - nothing to do with flexbox */
html {
    box-sizing: border-box;
  }
  
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(270deg, #777 0%, #222 50%, #777 100%);
}

a {
  color:white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}

a:hover {
  background:rgba(0,0,0,0.3);
}

.toggleNav {
  display: none;
}

img {
  width:100%;
  height: 500px;
  margin: 5px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

input {
  padding:10px;
  border:0;
  border-radius: 5px;
}

h1 {
  font-family: 'Permanent Marker', cursive;
}

section, footer {
  text-align: center;
  background:rgba(0,0,0,0.2);
  padding:20px;
  margin:20px 0;
  color:white;
  font-weight: 100;
}

.btn {
  height: 40px;
  width: 80px;
  background-color: crimson;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}

.news-slider{
  z-index: 4;
}

.news-buttons {
  z-index: 5;
}

.news-up {
}

.news-down {
}

/* Flex Container */
.flex-nav ul, .flex-nav-footer ul {
  border:1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
}

.flex-nav-footer li {
  flex:3;
}

/* Flex Item */
.flex-nav li {
  flex:3;
}

.flex-nav .social {
  flex:1;
}


@media all and (max-width:1000px) {
    
  .flex-nav ul {
    flex-wrap:wrap;
  }

  .flex-nav li {
    flex:1 1 50%;
  }

  .flex-nav .social {
    flex:1 1 25%;
  }

}
  
  
/* This is where the magic Happens */

@media all and (max-width:500px) {
  
  .flex-nav li {
    flex-basis:100%;
  }
    
  /* Turn on flexbox */
  .wrapper {
    display:flex;
    flex-direction:column;
  }

  .toggleNav {
    display: block;
  }

  .flex-nav ul {
    display: none;
  }

  .flex-nav ul.open {
    display:flex;
  }
  
   
  }